# front
front/node_modules/
front/.pnp
front/.pnp.js
front/coverage/
front/build/
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local
front/.eslintcache
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# back
back/*.class
back/*.log
back/*.ctxt
back/.mtj.tmp/
back/*.jar
back/*.war
back/*.nar
back/*.ear
back/*.zip
back/*.tar.gz
back/*.rar
back/hs_err_pid*
back/.idea/
back/target/
back/*.iml

*.DS_Store